@font-face {
  font-family: 'xcc';
  src: url('./iconfont.woff2') format('woff2'),
       url('./iconfont.woff') format('woff');
  font-family: 600;
  font-style: normal;
}

body {
  margin: 20px;
  padding: 20px;
  background-color: #f1f1f1;
}

h2 {
  color: red;
  font-family: 'xcc';
  background: url('./icon.png')
}